@model web_dev_midterm.ViewModels.Post.PostAddVm

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>

<div class="row">
    <div class="col-md-6">
        <form enctype="multipart/form-data" asp-controller="Post" asp-action="Add" method="post">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="row mb-3">
                <label asp-for="Description" for="description" class="form-label">Описание поста</label>
                <textarea asp-for="Description" class="form-control" id="description" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary"> Опубликовать </button>
        </form>
    </div>
</div>